@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#login, #createAccount, #passwordReset {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*center div*/
    top: 25%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    height: 175px;
    width: 40%;
}

#login input, #createAccount input, #passwordReset input {
    margin-top: 10px;
    width: 70%;
    text-align: left;
}

#login button, #createAccount button, #passwordReset button {
    width: 40%;
    margin-top: 20px;
}

#login a p {
    font-size: 0.8rem;
    margin-top: 10px;
}

#createAccount {
    height: 200px;
}

#passwordReset {
    font-size: 15px;
}

#game, #createAccount, #passwordReset {
    visibility: hidden;
}

#players {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 60%;
}

.player_1, .player_2 {
    height: 50px;
    width: 200px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}

#first { grid-area: "1"; }
#second { grid-area: "2"; }
#third { grid-area: "3"; }
#fourth { grid-area: "4"; }
#fifth { grid-area: "5"; }
#sixth { grid-area: "6"; }
#seventh { grid-area: "7"; }
#eighth { grid-area: "8"; }
#nineth { grid-area: "9"; }

.grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#gameboard {
    margin: 60px auto;
    width: 450px;
    display: grid;
    grid-template: 
    "1 2 3" 150px
    "4 5 6" 150px
    "7 8 9" 150px / 1fr 1fr 1fr;
    grid-gap: 1px;
    border: 1px solid black;
    background-color: black;
}

#reset {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
}