<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
    <div id="login">
        <div>
            <label for="name"></label>
            <input type="text" placeholder="User..." name="name" required>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" placeholder="Password..." name="password" required>
        </div>
        <button type="submit">LOGIN</button>
    </div>
</form>

<a href="recover" id="passwordResetLink"><p>Forgot your password?</p></a>
<a href="/register" id="createAccountLink"><p>Create account</p></a>