<form action="/register" method="POST">
    <div id="login">
        <input type="text" placeholder="User...">
        <input type="password" placeholder="Password...">
        <button type="submit">LOGIN</button>
        <a id="passwordResetLink"><p>Forgot your password?</p></a>
        <a id="createAccountLink"><p>Create account</p></a>
    </div>
</form>
