<form action="/recover" method="POST">
    <div id="passwordReset">
        <p>An email will be sent to your account email so you can reset your password</p>
        <div>
            <label for="email"></label>
            <input type="email" placeholder="Your email" name="email" required>
        </div>
        <button type="submit">Send email</button>
    </div>
</form>
<a href="/login" id="backToLoginPassword">Back to login page</a>